<h2> Profile Edit </h2>

<form method="POST" action="/users">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%= user.email %>" required>
  </div>
  <div>
    <label for="username">Username</label>
    <input type="username" name="username" id="username" value="<%= user.username %>" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
  </div>

  <button class="button">Edit</button>
</form>
