<nav>
  <ul class="left">
    <li class="logo"><a href="/"><img src="https://www.eticketing.co.uk/nfl/site/assets/logo-main.png"></a></li>
  </ul>
  <ul class="right">
    <li class="menu">&#9776;</li>
    <div class="dropdown">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/posts/new">New Post</a></li>
      <li><a href="/stats">Stats</a></li>

      <% if(!locals.isLoggedIn) { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li><a href="/users/<%= currentUser.id %>"><%= currentUser.username %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
  </div>
  </ul>
</nav>
