<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project 1</title>
  <% include ./partials/_scripts.ejs %>
</head>
<body>
  <header>
    <% include ./partials/_navbar.ejs %>
  </header>
  <% for (const type in messages) { %>
    <p class="alert alert-<%= type %>"><%= messages[type] %></p>
  <% } %>
  <div class="container mainContainer">
    <div class="row">
      <div class="col-lg-8">
        <%- body %>
      </div>
      <aside class="col-lg-4">
        <div class="statbar">
          <h3 class="statslabel"></h3>
          <ul class="list-group stats">
          </ul>
        </div>
      </aside>
    </div>
  </div>
  <footer>
    <p>Made by Jack @ GA LDN</p>
  </footer>
  </body>
</html>
