<h1>Login</h1>


<form method="POST" action="/login" class="form-group">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required>
  </div>
<div>
  <button class="btn btn-primary lgon">Login</button>
</div>
  <a href="<%= oauth.facebook.getLoginUrl() %>" class="btn btn-primary fb">Login with FaceBook</a>
</form>
