<h1> Stats Page </h1>
<form id="statsForm" class="statFilter form-group">
  <select name="position" id ="position" class="form-control" required>
    <option>Pick a Position</option>
    <option value="QB">QB</option>
    <option value="RB">RB</option>
    <option value="WR">WR</option>
    <option value="K">K</option>
    <option value="DEF">DEF</option>
  </select>
</form>

<table class="statsTable col-lg-8 hide">
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Team</th>
    <th>Season Pts</th>
  </tr>
</table>
