
  <h1>New Post </h1>
  <form class="postForm" method="POST" action="/posts">
    <div class="formSelect">
    <select name="type" id="type" required>
      <option>Question</option>
      <option>Opinion</option>
      <option>Looking for League</option>
    </select>
  </div>
    <input type="text" name="title" id="title" placeholder="Title" class="formTitle" required>
    <textarea name="content" id="content" class="content"required></textarea>
    <button class="btn formbtn">Post</button>
  </form>
