<h1>Posts New</h1>

<form method="POST" action="/posts">
  <div>
    <label for="type">Post Type</label>
    <select id="type" required>
      <option>Question</option>
      <option>Opinion</option>
      <option>Looking for League</option>
    </div>
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Post Title" required>
    </div>
    <div>
      <label for="content">What would you like to say?</label>
      <textarea name="content" id="content" required></textarea>
    </div>
    <div>
    <button class="btn">Add</button>
  </div>
  </form>
