@import "bootstrap/bootstrap-grid";

body {
  font-family: 'Oswald';
  background-color: #41464f;
}

h1 {
  color: white;
  .n{
    color: red;
  }
  .f{
    color: white;
  }
  .l{
    color: blue;
  }
}
a{
  text-decoration: none;
  color: #dce2ed;
}

.nav {
  li {
    font-weight: bold;
    font-size: 25px;
    display: inline;
    padding: 0 20px;
  }
}
#right{
  float: right;
  padding: 0 20px;
}

.name{
  text-align: center;
  font-size: 40px;
}

.statbar {
  margin: 50px 80px 80px 80px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  background-color: lightgrey;
  p {
    text-align: center;
  }
}

.stats {
  li {
    font-size: 15px;
    list-style: decimal;
    line-height: 35px;
  }
}
